body{
    background-color: rgb(77, 87, 111);
}

h1{
    position: relative;
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
}
h2{
    position: relative;
    font-size: 15px;
    text-align: center;
    color: rgba(151, 150, 150, 0.603);
}

form
{
    position: relative;
}



input{
    font-size:20px;

}
label{
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
}
button
{
    color: rgb(255, 134, 134);
    border-radius: 15px;
    font-size: 30px;
}

button:hover
{
    color: rgb(255, 33, 248);
    transform: scale(1.1);
}

button:active
{
    color: black;
    background-color: rgb(255, 33, 248);
}


form{
    color: antiquewhite;
    text-align: center;
}

div{
    text-align: center;
    color: antiquewhite;
    font-size: 50px;
}
.wavy{
    position: relative;
}
.wavy span{ 
    position: relative;
    display: inline-block;
    color: antiquewhite;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate 
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%,100%
    {
        transform: translateY(0px);
    }
}


.hearts
{
    font-size: 23px;
    font-weight: bold;
    position: fixed;
    top: -lvh;
    left: 0;
    animation: fall 1s ease-in infinite;
}

@keyframes fall 
{
    to{
        transform: translateY(100vh);
    }    
}



#output
{
    position: relative;
    color: rgb(255, 47, 47);
    font-size: 100px;    

}

.rainbow{
    animation: rainbow 1s infinite;
}

@keyframes rainbow {
    0% {
        color: red;
    }
    14% {
        color: orange;
    }
    28% {
        color: yellow;
    }
    43% {
        color: green;
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
}

#gwapo
{
    position: relative;
    color: rgba(131, 128, 128, 0.756);
    font-size: 25px;  
}



