body{
    background-color: rgb(77, 87, 111);
}

h1{
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
   
}

input{
    font-size:20px;

}
label{
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
}
button
{
    font-size: 30px;
}


form{
    color: antiquewhite;
    text-align: center;
}

div{
    text-align: center;
    color: antiquewhite;
    font-size: 50px;
}
.wavy{
    position: relative;
}
.wavy span{ 
    position: relative;
    display: inline-block;
    color: antiquewhite;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate 
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%,100%
    {
        transform: translateY(0px);
    }
}