div{
    padding: 100px 0;
    margin: auto;
    text-align: center;
}

button:hover{
    transform: scale(1.05);
    transition: .8s;
    opacity: 70%;
}

button{
    background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body{
    background: url('https://i.pinimg.com/originals/12/b2/3a/12b23a7752e8a7a4464c1ff5e596237f.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}