:root{
    --bwidth:130px;
    --bheight:130px;
}
div{
    padding: 200px 0;
    margin: auto;
    text-align: center;
}

button:hover{
    transform: translateY(-10px) scale(1.05);
    opacity: 70%;
}

button{
    width: var(--bwidth);
    height: var(--bheight);
    border-radius: 50%;
    transition: transform 0.8s;
}

#btn1{
    background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-size: cover;
    margin-right: 30px;
}


#btn3{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Google_Drive_icon_%282020%29.svg/768px-Google_Drive_icon_%282020%29.svg.png?20221103153031');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 30px;
}

body{
    background: url('https://i.pinimg.com/originals/12/b2/3a/12b23a7752e8a7a4464c1ff5e596237f.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}